@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap");

.home-left_right {
  display: flex;
  justify-content: space-between;
}

.home-left {
  margin-top: 100px;
}

.heading {
  font-family: "Roboto", sans-serif;
  max-width: 518px;
  width: 100%;
  font-weight: 700;
  font-size: 68px;
  color: #211f54;
}

.paragraph {
  margin: 15px 0;
  font-family: "Roboto", sans-serif;
  max-width: 591px;
  width: 100%;
  font-weight: 400;
  font-size: 21px;
  color: #6e7191;
}

.home-btn-contact {
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 25px 0;
}

.home-contact {
  display: flex;
  align-items: center;
  gap: 10px;
}

.home-btn {
  background: #0075ff;
  border: 1px solid #eff0f6;
  box-shadow: 0px 4px 10px rgba(20, 20, 43, 0.04);
  border-radius: 14px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  transition: 0.5s;
  padding: 26px 40px;
  cursor: pointer;
}

.home-btn:hover {
  background: #211f54;
  color: #ffffff;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.home-contact img {
  max-width: 82px;
  width: 100%;
}

h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #6e7191;
}
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 28px;
  color: #211f54;
}

.home-right img {
  max-width: 720px;
  width: 100%;
}

.home-right {
}

/*responsive*/

@media (max-width: 1100px) {
  .home-left_right {
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
  }
  .heading {
    font-size: 56px;
  }
  .paragraph {
    font-size: 19px;
  }
}

@media (max-width: 768px) {
  h3 {
    font-size: 21px;
  }
  .heading {
    font-size: 48px;
  }
  .paragraph {
    font-size: 16px;
  }
}
@media (max-width: 540px) {
  .home-btn-contact {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  h3 {
    font-size: 20px;
  }
  .heading {
    font-size: 36px;
  }
  .paragraph {
    font-size: 14px;
  }
}
